$blue: #3bbced;
$grey: #999;

body {
    margin: 0;
}

table {
    padding: 0;
    margin: 0;
    border: 0;
}

#table-preview {
    padding-bottom: 10px;
}

#table-preview a {
    text-decoration: none;
}

#table-preview p {
    font-family: Arial, Helvetica, sans-serif;
}

#table-preview .left-side {
    width: 220px;
}

#table-preview .left-side a {
    display: block;
    text-align: center;
}

#table-preview .footnote {
    font-size: 0.7em;
    color: #324b9b;
    letter-spacing: 0.1em;
    margin: 0;
}

#table-preview table td {
    padding: 0;
}

#table-preview .green-company {
    letter-spacing: 0;
    font-style: italic;
    color: #28ae7a;
}

#table-preview .footnote a {
    color: #324b9b;
}

#table-preview .social {
    float: right;
    margin: 1px;
}

#table-preview .accent {
    font-weight: 900;
}

#table-preview .name {
    letter-spacing: 0.5em;
    color: #324b9b;
    font-size: 1em;
    margin: 0.1em;
    min-height: 19px;
}

#table-preview .large-logo {
    margin: 0 auto;
}

#table-preview .right-side {
    border-left: 0.4em solid #28ae7a;
    padding-left: 10px !important;
    max-width: 360px;
}

#table-preview .company-desc {
    font-size: 0.6em;
    letter-spacing: 0.02em;
    color: #324b9b;
}