//Defaults
$blue: #3bbced;
// CSS Grid: Main areas setting
#generator-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(33%, auto);
    grid-gap: 10px;
    grid-template-areas:
    "generator"
    "preview";
}
#generator-form {grid-area: generator;}
app-signature-preview {grid-area: preview;}

// CSS Grid: Generator Form areas setting
#generator-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: minmax(70px, auto);
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 10px;
    grid-template-areas:
    "gen-title gen-name gen-name gen-surname gen-surname gen-surname"
    "gen-jobpl gen-jobpl gen-jobpl gen-joben gen-joben gen-joben"
    "gen-phone gen-phone gen-phone gen-button gen-button gen-button"
    "gen-user gen-user gen-user gen-button gen-button gen-button";
}
#generator-title {grid-area: gen-title;}
#generator-name {grid-area: gen-name;}
#generator-surname {grid-area: gen-surname;}
#generator-job-pl {grid-area: gen-jobpl;}
#generator-job-en {grid-area: gen-joben;}
#generator-phone {grid-area: gen-phone;}
#generator-username {grid-area: gen-user;}
#generator-button {grid-area: gen-button;}

// Form layout
#generator-main {
    height: 100%;
}

#generator-form {
    align-self: center;
}

#generator-button {
    padding: 5px;
    justify-self: center;
    align-self: end;
}
