#generator-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 10px;
      grid-template-areas: "gen-name gen-surname" "gen-jobpl gen-joben" "gen-phone ." "gen-user gen-button";
  text-align: right;
  height: 33%;
  padding: 1% 0;
}

#generator-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gen-name;
}

#generator-surname {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: gen-surname;
}

#generator-job-pl {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gen-jobpl;
}

#generator-job-en {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: gen-joben;
}

#generator-phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gen-phone;
}

#generator-username input, #generator-phone input {
  text-align: center;
}

#generator-phone input {
  min-width: 100px !important;
}

#generator-username {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: gen-user;
}

input {
  border: none;
}

input {
  margin: 5px;
  min-width: 70%;
  border-bottom: 0.5px solid #3bbced;
}

input:focus, input:active {
  border: none;
  outline: none;
  border-bottom: 2px solid #3bbced;
  background: #efefef;
}

label {
  display: inline-block;
  font-size: 0.7em;
  color: #999;
}

#preview {
  background: #eee;
  border-top: 1px solid #999;
}

#generator-button {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: gen-button;
  padding: 5px;
  text-align: right;
}

#generator-button button {
  padding: 10px 50px;
  background: #4c8bf5;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

#generator-button button:hover {
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#generator-button button:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#main-preview {
  padding-bottom: 10px;
}

/* Signature */
#preview a {
  text-decoration: none;
}

#preview p {
  font-family: Arial, Helvetica, sans-serif;
}

#preview .left-side {
  width: 220px;
}

#preview .left-side a {
  display: block;
  text-align: center;
}

#preview .footnote {
  font-size: 0.7em;
  color: #324b9b;
  letter-spacing: 0.1em;
  margin: 0.1em;
}

#preview .green-company {
  letter-spacing: 0;
  font-style: italic;
  color: #28ae7a;
}

#preview .footnote a {
  color: #324b9b;
}

#preview .social {
  float: right;
  margin: 1px;
}

#preview .accent {
  font-weight: 900;
}

#preview .name {
  letter-spacing: 0.5em;
  color: #324b9b;
  font-size: 1em;
  margin: 0.1em;
}

#preview .large-logo {
  margin: 0 auto;
}

#preview .small-logo {
  margin: 30% auto;
}

#preview .right-side {
  border-left: 0.4em solid #28ae7a;
  padding-left: 10px;
  max-width: 360px;
}

#preview .company-desc {
  font-size: 0.6em;
  letter-spacing: 0.02em;
  color: #324b9b;
}
/*# sourceMappingURL=generator-form.component.css.map */