<div id="generator-form">
    <label id="generator-name">Imię:
    <input [(ngModel)]="person.name" placeholder="name" />
    </label>
    <label id="generator-surname">Nazwisko:
    <input placeholder="{{ person.surname }}" />
    </label>
    <label id="generator-job-pl">Stanowisko (PL):
    <input placeholder="{{ person.jobPL }}" />
    </label>
    <label id="generator-job-en">Stanowisko (EN):
    <input placeholder="{{ person.jobEN }}" />
    </label>
    <label id="generator-phone">Nr telefonu: +48
    <input placeholder="{{ person.phone }}" />
    </label>
    <label id="generator-username">
    Jeśli nazwa użytkownika jest niepoprawna, popraw ją ręcznie:<br>
    <input placeholder="{{ person.user }}" />
    </label>
    <div id="generator-button">
    <button>Dalej</button>
    </div>
</div>
<app-signature-preview [person]="person"></app-signature-preview>