  <div id="generator-main">
    <form id="generator-form"
          #generatorForm="ngForm"
          (ngSubmit)="onSubmit()"
          >
      <label id="generator-title">Tytuł
        <input name="title"
               type="text"
               [(ngModel)]="person.title" />
      </label>
      <label id="generator-name"><span [hidden]="name.invalid && !name.pristine">Imię </span>
        <span [hidden]="name.valid || name.pristine"
              class="form-alert"
              >Imię jest obowiązkowe</span>
        <input #name="ngModel"
               name="name"
               type="text"
               class="form-control"
               [(ngModel)]="person.name"
               (change)="genUsername()"
               required />
      </label>
      <label id="generator-surname">Nazwisko
        <input name="surname"
               type="text"
               [(ngModel)]="person.surname"
               (change)="genUsername()"
               required />
      </label>
      <label id="generator-job-pl">Stanowisko (PL)
        <input name="jobPL"
               type="text"
               [(ngModel)]="person.jobPL"
               required />
      </label>
      <label id="generator-job-en">Stanowisko (EN)
        <input name="jobEN"
               type="text"
               [(ngModel)]="person.jobEN"
               required />
      </label>
      <label id="generator-phone">Nr telefonu
        <input name="phone"
               type="text"
               [(ngModel)]="person.phone"
               [dropSpecialCharacters]="false"
               mask="000 000 000" />
      </label>
      <label id="generator-username">Użytkownik
        <input name="user"
               type="text"
               [(ngModel)]="person.user"
               required />
      </label>
      <div id="generator-button">
        <button type="submit"
                [disabled]="!generatorForm.form.valid"
                routerLink="/deployer"
                >Dalej</button>
      </div>
    </form>
    <app-signature-preview [person]="person"></app-signature-preview>
  </div>
