html {
    height: 100%;
    width: 100%;
}

body, h1, h2, p {
    margin: 0;
}

body {
    font-family: "Segoe UI";
    background: none;
    height: 100%;
    width: 100%
}

button {
    padding: 10px 50px;
    margin: 2px;
    background: #4c8bf5;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: none;
    cursor: pointer;
}

button:hover {
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

button:focus {
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}