a {
    text-decoration: none;
}

body {
    background-color:#eee;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.left-side {
    width: 220px;
}

.left-side a {
    display: block;
    text-align: center;
}

.footnote {
    font-size: 0.7em;
    color: #324b9b;
    letter-spacing: 0.1em;
    margin: 0.1em;
}

.green-company {
    letter-spacing: 0;
    font-style: italic;
    color: #28ae7a;
}

.footnote a {
    color: #324b9b;
}

.social {
    float: right;
    margin: 1px;
}

.accent {
    font-weight: 900;
}

.name {
    letter-spacing: 0.5em;
    color: #324b9b;
    font-size: 1em;
    margin: 0.1em;
}

.large-logo {
    margin: 0 auto;
}

.small-logo {
    margin: 30% auto;
}

.right-side {
    border-left: 0.4em solid #28ae7a;
    padding-left: 10px;
    max-width: 360px;
}

.company-desc {
    font-size: 0.6em;
    letter-spacing: 0.02em;
    color: #324b9b;
}